// COLOR VARIABLES
$color-red: #d12d1d;
$color-orange: #f36d24;
$color-yellow: #f9e346;
$color-green: #189959;
$color-light-blue: #3ea1ed;
$color-dark-blue: #2241b2;
$color-purple: #7d3075;

// @mixin transition-basic {
//   transition: all 0.3s;

// }

// FONT VARIABLES
$font-primary: 'Poppins',
'sans-serif';
$font-secondary: 'Raleway';




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {

    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {

    // font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    // background-color: #090B08;



}

.lights-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;


}



.utilities-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.on,.off {
    padding: 1rem 2rem;
    cursor: pointer;
    
}

.on {
    margin-right: 1rem;
}


///Circles


.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 30px;
    transition: all .4s;

}

.red {
    background-color: $color-red;
}

.orange {
    background-color: $color-orange;
}

.yellow {
    background-color: $color-yellow;
}

.green {
    background-color: $color-green;
}

.light-blue {
    background-color: $color-light-blue;
}

.dark-blue {
    background-color: $color-dark-blue;
}

.purple {
    background-color: $color-purple;
}